* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background-color: #fff;
    display: block;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 20px;
}

body {
    --card-border: gold;
    --card-shadow: lightgrey;
    --card-color: white;
    --button-color: rgb(240, 240, 240);
    --text-color: black;
    --popup-color: coral;
    --header-color: white;
}

body.dark-theme {
    --card-border: black;
    --card-shadow: lightgrey;
    --card-color: grey;
    --button-color: blue;
    --text-color: white;
    --popup-color: coral;
    --header-color: lime;
    --header-text-color: white;
}

.backdrop {
    opacity: 0;
    inset: 0px;
    position: fixed;
    background-color: black;
    pointer-events: none;
    z-index: 1;
}

.backdrop.show {
    opacity: 0.4;
    transition: opacity 300ms ease-in-out;
}

header {
    min-width: 100%;
    padding: 1rem;
    box-shadow: 1px 1px 5px var(--card-shadow);
    text-align: center;
    position: relative;
    background-color: var(--header-color);
}

header > .title {
    font-size: 2.5rem;
    color: var(--header-text-color);
}

main {
    text-align: center;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


/* THEME BUTTON */

button.theme-btn {
    position: absolute;
    top: 50%;
    right: min(calc(5vw - 5px), 35px);
    transform: translate(0, -40%);
}

button.theme-btn span {
    font-size: 30px;
}


/* DISPLAY */

div.display {
    min-width: 45%;
    min-height: 60vh;
}

button.add-book, button.submit-book-btn {
    padding: 0.5em 1em;
    border-radius: 8px;
    border: var(--button-color);
    background-color: var(--button-color);
    font-size: 1rem;
    font-weight: bold;
}

button.add-book::after {
    content: " Add Book";
    line-height: 0;
}

button.add-book:disabled {
    color: var(--text-color);
}

button.add-book {
    display: flex;
    align-items: center;
    gap: 4px;
}

div.display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

button.add-book span {
    font-size: 22px;
    font-weight: 600;
}


/* BOOK CARD */

.display .book {
    border-left: 20px solid var(--card-border);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--card-shadow);
    text-align: left;
    padding: 15px;
    overflow: auto;
    background-color: var(--card-color);
    color: var(--text-color);
}


/* POPUP MODAL */

div.popup-modal {
    top: 50%;
    left: 50%;
    position: fixed;
    background-color: var(--card-color);
    padding: 35px 20px 25px;
    border-radius: 12px;
    border-top: 15px solid var(--popup-color);
    transform: translate(-50%, -100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform-origin: center;
    transition: all 300ms ease-in-out;
    width: max(20%, 300px);
    z-index: 10;
}

div.popup-modal.show {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popup input {
    border: none;
    background-color: var(--button-color);
    border-radius: 16px;
    padding: 0.4em 0.75em;
    flex-grow: 1;
}

.popup-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button.submit-book-btn {
    background-color: var(--popup-color);
    margin-top: 15px;
}

button.close-btn {
    position: absolute;
    top: 8px;
    right: 12px; 
}

.close-btn span {
    font-weight: 500;
}



/* MEDIA QUERIES */

@media (prefers-color-scheme: dark) {
    body {
        --card-border: #d29922;
        --card-shadow: #5e5c71;
        --card-color: lightgrey;
        --button-color: orange;
        --text-color: black;
        --popup-color: coral;
        --header-color: #474554;
        --header-text-color: white;
        background-color: #5e5c71;
    }

    body.light-theme {
        --card-border: gold;
        --card-shadow: lightgrey;
        --card-color: white;
        --button-color: rgb(240, 240, 240);
        --text-color: black;
        --popup-color: coral;
        --header-color: white;
        --header-text-color: black;
        background-color: white;
    }
}

@media screen and (width <= 600px) {
    div.display {
        width: max(80%, 300px);
    }

    button.add-book::after {
        content: "";
    }

    button.add-book {
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        background-color: var(--popup-color);
        border: none;
        padding: 0px;
    }

    button.add-book span {
        font-size: 30px;
        color: var(--card-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }

    button.add-book:disabled {
        color: white;
    }
}
