* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background-color: #fff;
    display: block;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    --light-theme-card-border: gold;
    --light-theme-card-shadow: lightgrey;
    --light-theme-card-color: white;
    --light-theme-button-color: rgb(240, 240, 240);
    --light-theme-text-color: black;
}

.backdrop {
    opacity: 0;
    inset: 0px;
    position: fixed;
    background-color: black;
    pointer-events: none;
}

.backdrop.show {
    opacity: 0.4;
    transition: opacity 300ms ease-in-out;
}

header {
    min-width: 100%;
    text-align: center;
    padding: 1rem;
}

main {
    text-align: center;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


/* DISPLAY */

div.display {
    min-width: 45%;
    min-height: 60vh;
}

button.add-book, button.submit-book-btn {
    padding: 0.5em 1em;
    border-radius: 8px;
    border: var(--light-theme-button-color);
    background-color: var(--light-theme-button-color);
    font-size: 1rem;
    font-weight: bold;
    color: var(--light-theme-text-color);
}

button.add-book::after {
    content: " Add Book";
}

button.add-book:disabled {
    color: var(--light-theme-text-color);
}

div.display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}


/* BOOK CARD */

.display .book {
    border-left: 20px solid var(--light-theme-card-border);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--light-theme-card-shadow);
    text-align: left;
    padding: 15px;
    overflow: auto;
    background-color: var(--light-theme-card-color);
    color: var(--light-theme-text-color);
}


/* POPUP MODAL */

div.popup-modal {
    top: 50%;
    left: 50%;
    position: fixed;
    background-color: var(--light-theme-card-color);
    padding: 35px 20px 25px;
    border-radius: 12px;
    border-top: 15px solid var(--light-theme-card-border);
    transform: translate(-50%, -100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform-origin: center;
    transition: all 300ms ease-in-out;
    width: max(20%, 300px);
}

div.popup-modal.show {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}


.popup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popup input {
    border: none;
    background-color: var(--light-theme-button-color);
    border-radius: 16px;
    padding: 0.4em 0.75em;
    flex-grow: 1;
}

.popup-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button.submit-book-btn {
    background-color: coral;
    margin-top: 15px;
}

.close-btn {
    line-height: 0;
}

.close-btn > svg {
    height: 24px;
    position: absolute;
    top: 8px;
    right: 12px; 
}


/* MEDIA QUERIES */


@media screen and (width <= 600px) {
    div.display {
        width: max(80%, 300px);
    }

    button.add-book::after {
        content: "";
    }

    button.add-book {
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-size: 35px;
        font-weight: bold;
        color: white;
        background-color: lightskyblue;
        border: none;
        padding: 0px;
    }
}
